<appSettings>
  <add key="owin:AppStartup" value="Cdf54.Ja.SignalR.Chat.Startup,Cdf54.Ja.SignalR.Chat" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- Cdf54.Ja.SignalR.Chat -->
  <add key="WebConfig" value="web.Debug.config" />
  <add key="Administrator" value="admin@free.fr" />
  <add key="IsTraceEnable" value="true" />
  <add key="IsConsoleLoggingEnable" value="true" />
  <add key="IsDemo" value="false" />
  <add key="cdf54.CompanyName" value="YOUR client name" />
  <add key="cdf54.CompanyAddress" value="YOUR Client address" />
  <!--External login-->
  <add key="MicrosoftClientId" value="YOUR_VALUE" />
  <add key="MicrosoftClientSecret" value="YOUR_VALUE" />
  <add key="TwitterConsumerKey" value="YOUR_VALUE" />
  <add key="TwitterConsumerSecret" value="YOUR_VALUE" />
  <add key="FaceBookAppId" value="YOUR_VALUE" />
  <add key="FaceBookAppSecret" value="YOUR_VALUE" />
  <add key="GoogleClientId" value="YOUR_VALUE" />
  <add key="GoogleClientSecret" value="YOUR_VALUE" />
  <!--Email-->
  <add key="credentialUserName" value="YOUR_VALUE" />
  <add key="sentFrom" value="YOUR_VALUE" />
  <add key="pwd" value="YOUR_VALUE" />
  <add key="Smtp" value="YOUR_VALUE" />
  <add key="Port" value="587" />
  <add key="EnableSsl" value="true" />
  <!-- /Cdf54.Ja.SignalR.Chat -->
</appSettings>
