<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    Dans l'exemple ci-dessous, la transformation "SetAttributes" changera la valeur de 
    "connectionString" afin d'utiliser "ReleaseSQLServer" uniquement lorsque le localisateur "Match" 
    trouve un attribut "name" qui a une valeur "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <!--CDF54 Server-->
    <add name="DefaultConnection" connectionString="data source=192.168.107.232;
         initial catalog=Cdf54.Ja.SignalR.Chat;
         Persist Security Info=True;
         User ID=cdf54projet;
         Password=p@ssword2014"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <!--CDF54 Server-->
  </connectionStrings>

  <appSettings>
    <!-- Cdf.Mvc.SignalR.Chat -->
    <add key="WebConfig" value="web.Staging CDF54 VM.config" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="IsTraceEnable" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="IsConsoleLoggingEnable" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="IsDemo" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Password" value="P@ssword2015Staging" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!-- /Cdf.Mvc.SignalR.Chat -->
  </appSettings>
  
  <customErrors mode="RemoteOnly" defaultRedirect="~/Views/Shared/Error.cshtml" xdt:Transform="Replace"/>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      
      Dans l'exemple ci-dessous, la transformation "Replace" remplacera toute la section 
      <customErrors>  de votre fichier web.config.
      Dans la mesure où il n'y a qu'une section customErrors sous le 
      nœud <system.web>, il n'est pas nécessaire d'utiliser l'attribut "xdt:Locator".
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>