<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span>&nbsp;Specifications</h3>
    </div>
    <div class="panel-body ">
        <h4>Specifications</h4>
        <p>
            The goal of the project is to provide authenticated users an instant chat tool (Chat) Public and Private type. It displays the list of users connected to the tool allowing to start a private chat by double clicking on the targeted user.
        </p>
        <p>
            The tool supports multiple simultaneous discussions intantanées Private type. When a user logs off, it is not possible to send a private message.
        </p>
        <p>
            A chat session is between the instant a user uses the tool, and the moment when all users are disconnected from the tool. When a session ends all public messages will be deleted. Private messages themselves are not cached.
        </p>
        <p>
            A user can have multiple sessions on the same browser, the same machine or on multiple machines; in this case it is present on both the olny a list of users.
        </p>
        <p>
            An administration page lists the users connected to the tool and the public messages of the current session. It allows you to view the trace of the server-side application and client (admin@free.fr) fonctionnalitée this is optional and can be enabled / disabled from the web.config configuration file (IsTraceEnable). It also offers a collection of technical information to the administrator and developer.
        </p>
        <p>
            If the page is refreshed, the user is disconnected and reconnected instantly.
        </p>
        <h4>
            Possible improvements.
        </h4>
        <ul>
            <li>
                Storage of messages in a database
            </li>
            <li>
                Visualization private messages saved in the database grouped by recipients (like Facebook).
            </li>
            <li>
                User Avatar
            </li>
            <li>
                Implementation of the SignalR groups feature
            </li>
            <li>
                View multimedia content including images, videos ...
            </li>

        </ul>
        <p>
            <strong> (Google translation from French)</strong>
        </p>
    </div>
</div>

